<%= form_for(@donut) do |f| %>
  <% if @donut.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donut.errors.count, "error") %> prohibited this donut from being saved:</h2>

      <ul>
      <% @donut.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :filling %><br>
    <%= f.text_field :filling %>
  </div>
  <div class="field">
    <%= f.label :topping %><br>
    <%= f.text_field :topping %>
  </div>
  <div class="field">
    <%= f.label :extras %><br>
    <%= f.text_area :extras %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.number_field :cost %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
